<script lang="ts">
	import { onMount } from 'svelte';
	let posts: {
		id: string;
		title: string;
		body: string;
		user: {
			name: string;
			username: string;
			email: string;
		};
	}[] = [];
	onMount(async () => {
		const postsResponse = await fetch('https://jsonplaceholder.typicode.com/posts');
		let postsData = await postsResponse.json();
		postsData
			.slice(0, 20)
			.forEach(async (post: { userId: string; id: string; title: string; body: string }) => {
				const userResponse = await fetch(
					`https://jsonplaceholder.typicode.com/users/${post.userId}`
				);
				const user = await userResponse.json();
				posts.push({
					id: post.id,
					title: post.title,
					body: post.body,
					user: {
						name: user.name,
						username: user.username,
						email: user.email
					}
				});
				posts = posts;
			});
		console.log(posts);
	});
	console.log(posts);
</script>

<div class="flex items-center justify-center">
	{#if posts.length > 0}
		<div class=" grid grid-cols-3 gap-3 justify-center items-center">
			{#each posts as post (post.id)}
				<div class="border-solid border-[2px] p-2 rounded-[10px] h-full cursor-pointer">
					<h2>{post.user.name}</h2>
					<h3>{post.user.username}</h3>
					<h3>{post.user.email}</h3>
					<div class="ml-2">
						<h2 class="font-bold">{post.title}</h2>
						<p class="ml-1">{post.body}</p>
					</div>
				</div>
			{/each}
		</div>
	{:else}
		<div class="absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%]">
			<div class="absolute inset-0 flex items-center justify-center">Loading ...</div>
			<div
				class="w-24 h-24 border-t-4 border-[#FD3E00] border-solid rounded-full animate-spin"
			></div>
		</div>
	{/if}
</div>
