<script lang="ts">
	import Counter from './Counter.svelte';
	import welcome from '$lib/images/svelte-welcome.webp';
	import welcome_fallback from '$lib/images/svelte-welcome.png';
	import Icon from '@iconify/svelte';

	let todos: { id: number; description: string; done: boolean }[] = [];
	let todo = '';

	function addTodo() {
		todos = [...todos, { id: todos.length + 1, description: todo, done: false }];
		todo = '';
	}

	function markAsDone(id: number) {
		console.log('hi');
		todos = todos.map((todo) => (todo.id === id ? { ...todo, done: true } : todo));
		console.log(todos);
	}

	function removeTodo(id: number) {
		todos = todos.filter((todo) => todo.id != id);
		console.log(todos);
	}
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	<div>
		<h1 class="text-[#FD3E00] mb-3">This is a simple todo app</h1>
		<div class="flex justify-between gap-2 h-fit mb-3">
			<input
				class="p-2 flex-1 rounded-[10px] outline-none focus:border-[#FD3E00] focus:border-[1px] border-solid"
				name="todo"
				bind:value={todo}
			/>
			<button class="rounded-[3px] bg-[#a3a1a1] p-2" on:click={addTodo}>Add</button>
		</div>

		{#if todos === undefined}
			<div>no todos</div>
		{:else}
			<div class="flex flex-col gap-2">
				{#each todos as oneTodo (oneTodo.id)}
					<div class="flex flex-row justify-between">
						<h2 class={`text-[${oneTodo.done ? '#52915C' : ''}] font-bold text-[30px]`}>
							{oneTodo.description.slice(0, 1).toUpperCase() +
								oneTodo.description.slice(1, oneTodo.description.length)}
						</h2>
						<div class="flex flex-row gap-2 items-center">
							<button on:click={() => markAsDone(oneTodo.id)}>
								<Icon
									icon="material-symbols:check"
									color="green"
									cursor="pointer"
									font-size="25px"
								/>
							</button>
							<button on:click={() => removeTodo(oneTodo.id)}>
								<Icon icon="ic:baseline-clear" color="red" font-size="25px" cursor="pointer" />
							</button>
						</div>
					</div>
				{/each}
			</div>
		{/if}
	</div>
</section>

<style>
	section {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		width: 100%;
	}
</style>
