<script lang="ts">
	import { onMount } from 'svelte';
	let users: {
		id: string;
		name: string;
		username: string;
		email: string;
		address: {
			street: string;
			suite: string;
			city: string;
			zipcode: string;
			geo: {
				lat: string;
				lng: string;
			};
		};
		phone: string;
		website: string;
		company: {
			name: string;
			catchPhrase: string;
			bs: string;
		};
	}[] = [];
	onMount(async () => {
		const response = await fetch('https://jsonplaceholder.typicode.com/users');
		users = await response.json();
	});
</script>

<div class="flex items-center justify-center">
	{#if users.length > 0}
		<div class=" grid grid-cols-3 gap-3 justify-center items-center">
			{#each users as user (user.id)}
				<div class="border-solid border-[2px] border-black p-2 rounded-[10px]">
					<h2>name: {user.name}</h2>
					<h3>username: {user.username}</h3>
					<h3>email: {user.email}</h3>
					<h4>Address:</h4>
					<div class="ml-4">
						<p>street: {user.address.street}</p>
						<p>suite: {user.address.suite}</p>
						<p>city: {user.address.city}</p>
						<p>zipcode: {user.address.zipcode}</p>
					</div>
				</div>
			{/each}
		</div>
	{:else}
		<div class="absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%]">
			<div class="absolute inset-0 flex items-center justify-center">Loading ...</div>
			<div
				class="w-24 h-24 border-t-4 border-[#FD3E00] border-solid rounded-full animate-spin"
			></div>
		</div>
	{/if}
</div>
